$active-link-color: $brand;
$link-hover-color: $brand-hover;

@mixin link-bottom {
    border-bottom: 2px solid transparent;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    height: 50%;

    @include tablet-up() {
        flex-basis: 340px;
        height: 100%;
        justify-content: space-between;
    }
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    @include link-bottom();
    ;

    &:hover {
        color: $link-hover-color;
        border-bottom-color: $link-hover-color;
    }
}

.active {
    color: $active-link-color;
}