.container {
    @include content-container();
    margin-top: 48px;
    padding-bottom: 48px;
}

.title {
    @include section-title-font-size()
}


.related-products {
    max-width: 100%;

    ul {
        display: flex;
        overflow: auto;

        @include tablet-up() {
            display: grid;
        }
    }
}