$margin-top: 48px;

.container {
    @include content-container();
    @include base-font-size();
    margin-top: $margin-top;
}

.title {
    font-size: 1.5rem

}


.related-products {
    max-width: 100%;

    ul {
        display: flex;
        overflow: auto;

        @include tablet-up() {
            display: grid;
        }
    }
}