@mixin mobile-up {
    @media screen and (min-width: $breakpoint-phone) {
        @content
    }
}

;

@mixin tablet-up {
    @media screen and (min-width: $breakpoint-tablet) {
        @content
    }
}

;

@mixin laptop-up {
    @media screen and (min-width: $breakpoint-laptop) {
        @content
    }
}

;

@mixin desktop-up {
    @media screen and (min-width: $breakpoint-desktop) {
        @content
    }
}

;

@mixin mobile-only {
    @media screen and (min-width: $breakpoint-phone) and (max-width: #{$breakpoint-tablet + 1px}) {
        @content
    }
}

;

@mixin tablet-only {
    @media screen and (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop}) {
        @content
    }
}

;

@mixin laptop-only {
    @media screen and (min-width: $breakpoint-deskktop) {
        @content
    }
}

;

@mixin desktop-only {
    @media screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-) {
        @content
    }
}

;

@mixin content-container {
    max-width: $page-container-max-width;
    min-width: $page-container-min-width;
    width: $page-container-width;
    padding: 0 $page-container-padding-x;
    margin: auto;
}