$margin-top: 48px;

.container {
    @include content-container();
    margin-top: $margin-top;

}

.count {
    display: flex;
    align-items: center;
    gap: $space-xl;

    @include mobile-up() {
        gap: $space-xxl;
    }


    &__title {
        font-size: $space-xxl;

        @include tablet-up() {
            font-size: $space-xxxl;
        }
    }
}

.list {
    margin-top: $space-xxxl;
    display: grid;
    justify-content: space-between;
    gap: $space-xxl;
    grid-template-columns: repeat(auto-fill, minmax($preview-card-min-width, 1fr));
}

.card {
    margin: auto;
}