$margin-top: 48px;

.container {
    @include content-container(); 
    @include base-font-size();

    margin-top: $margin-top;
}

.count {   
    display: flex;
    align-items: center;
    gap: 1rem;

    &__title {
        font-size: 1.5rem;
    }
}

.list {
    margin-top: $space-xxxl;
    display: grid;
    justify-content: space-between;
    gap: $space-xxl;
    grid-template-columns: repeat(auto-fill, minmax($preview-card-min-width, 1fr));
}

.card {
    margin: auto;
}