.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: var(--space-xl);
    background: var(--card-bg);
    padding: 0 0 var(--space-xl);
    width: var(--card-width);
    font-family: var(--font-family);
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.card-img__container {
    aspect-ratio: 1 / 1;
    width: 100%;
    background: var(--card-image-bg);
}

.card-img__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: 0 var(--space-xs);   
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: calc((var(--space-xs) + var(--space-xxs))/2);
}

.card-caption {
    font-weight: 700;
    font-size: var(--space-xs);
    line-height: 129%;
    color: var(--text-secondary);
}

.card-title {
    line-height: 120%;
}

.card-subtitle {
    line-height: 125%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.card-footer__content {
    font-weight: 700;
    font-size: calc((var(--space-l) + var(--space-m)) / 2);
    line-height: 122%;
    color: var(--text-primary);
    display: flex;
    align-items: center;
}

