$base-gap: 0.5em;
$base-line-height: 150%;
$mini-base-gap: 0.33em;

.card {
    @include base-adaptive-font-size();
}

.img {
    aspect-ratio: 1 / 1;
    background: $preview-card-image-bg;
    width: 100%;
    cursor: pointer;

    &__img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        display: block;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: $base-gap;
    padding: $base-gap;
}


.preview {
    &-card {
        min-width: $preview-card-min-width;
        max-width: $preview-card-max-width;
        height: $preview-card-height;
        padding-bottom: calc($base-gap * 2);
        background: $preview-card-bg;
        border-radius: $border-radius-primary;

        &:hover {
            box-shadow: $shadow-normal;
        }
    }

    &-main {
        cursor: pointer;
    }

    &-title {
        height: 3em;
        font-size: 1.2em;
        line-height: $base-line-height;
    }

    &-description {
        font-size: 0.8em;
        line-height: $base-line-height;
    }

    &-caption-slot {
        font-size: 0.7em;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        margin-top: calc($base-gap * 3);
        padding: 0 $base-gap;
    }

    &-content-slot {
        display: flex;
        align-items: center;
    }
}

.full {
    &-card {
        display: grid;
        grid-template-areas:
            "image"
            "main"
            "footer";

        @include tablet-up() {
            grid-template-areas:
                "image main"
                "image footer";
            grid-template-rows: auto 1fr;
            gap: ($base-gap * 2);
        }
    }

    &-img {
        border-radius: $border-radius-primary;
        grid-area: image;

        @include tablet-up() {
            width: 350px;
        }

        @include laptop-up() {
            width: 600px;
        }
    }

    &-main {
        gap: $base-gap;
        padding: $base-gap;
        grid-area: main;
    }

    &-title {
        font-size: 2em;
    }

    &-description {
        font-size: 0.8em;
        line-height: $base-line-height;
    }

    &-footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        padding: $base-gap;
        gap: ($base-gap * 2);
    }
}

.mini {
    flex-direction: row;
}