.container {
    @include content-container();
    @include base-adaptive-font-size();
    display: flex;
    flex-direction: column;
    gap: $space-xxl;
}

.action-slot {
    display: flex;
    gap: $space-s;
}