.search {
    gap: $space-xxs $space-xl;
    display: flex;
    border-radius: $border-radius-secondary;
    overflow: hidden;
}

.fullscreen {
    flex-wrap: wrap;

    @include tablet-up {
        flex-wrap: nowrap;
    }

    .input {
        flex-basis: 100%;
    }

    .button {
        flex-basis: 100%;

        @include tablet-up {
            flex-basis: content;
        }
    }
}