$max-width: 650px;
$gap: $space-xxxl;
$title-font-size: 44px;

.section-header {
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;

    @include tablet-up {
        padding: 50px 0;
        gap: $gap;
    }

    @include laptop-up {
        padding: 100px 0;
    }
}

.title {
    height: $title-font-size;
    color: $text-primary;
}

.content {
    height: 0;
    overflow: hidden;
    color: $text-secondary;
    text-align: center;

    @include tablet-up {
        height: auto;
    }
}